{% block content %}
<br/><br/><br/><br/><br/>

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
    />
    <title style="color: black">DAYSTAR DOLL STORE</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>

    <link
            href="https://fonts.googleapis.com/css?family=Raleway"
            rel="stylesheet"
    />

    <link
            href="https://fonts.googleapis.com/css?family=Montserrat"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<style>
    body, html {
        margin-top: 0px;
        margin-bottom: 0px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark "
     style="background-color: black; position: fixed; top: 0; width: 100%; z-index: 1;">
    <a class="navbar-brand" href="">
        <img src="{% static 'images/logo.jpg' %}" alt="logo" class="logo-img">
    </a>
    <a class="nav-link" href=""><h1 class="navbar-brand" style="font-size: 25px; color: white;">DOLL STORE PAYMENTS</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a style="font-weight: bolder;  color: white;" class="nav-link" href="{% url 'manage' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a style="font-weight: bolder;  color: white;" class="nav-link"
                       href="{% url 'receipt'%}">RECEIPTS</a>
                </li>
                <li class="nav-item">
                    <a style="font-weight: bolder;  color: white;" class="nav-link"
                       href="{% url 'made_sales'%}">ALL SALES</a>
                </li>


            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    <form method="POST" action="" style="border-radius: 25px; border: 2px solid #060808; padding: 20px; width: 400px; height: 350px;
  margin-block: 50px; margin-left: 400px; background-color: beige;">
        <h1 class="text-center">ADD_STOCK</h1><br>
        {% csrf_token %}
        <!-- Add input field for quantity -->
        <label for="received_quantity">Quantity:</label>
        <input type="number" id="received_quantity" name="received_quantity" class="form-control" required>
        <br>
        <input type="submit" class="btn btn-info btn" type="button" value="ADD" style="margin-left: 100px;">
    </form>
</div>
</body>
</html>
{% endblock %}
