<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Confirmation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body style="background-color: #5de0e6;">

<div class="container d-flex justify-content-center align-items-center" style="margin-top: 100px;">
    <div class="card mb-3" style="border: 50px solid #ed83b5; border-radius: 0px; background: linear-gradient(to right, #5de0e6, #707a7b); width: 50%; height: 50%;">
        <div style="text-align: center;">
            <img src="{% static 'images/tick reset.jpg' %}" alt="Circular Image" style="border-radius: 50%; width: 100px; height: 100px; margin-bottom: 5px; margin-top: 10px;">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">Password Reset</h5>
            <p>Your password has been successfully reset</p>
            <form action="{% url 'login_view' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" style="background-color: #ed83b5; width: 100px;">Continue</button>
                </div>
            </form>
            <a href="{% url 'login_view' %}" class="return-link"><i class="bi bi-arrow-left"></i>Return to login page</a>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 IMMACULATE NAYIGA. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'javascript/include.js' %}"></script>
</body>
</html>
