<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Your New Password</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body style="background-color: #5de0e6">
    <div class="container d-flex justify-content-center align-items-center" style="margin-top: 20px">
        <div class="card mb-3" style="border: 50px solid #ed83b5; border-radius: 0px; background: linear-gradient(to right, #5de0e6, #707a7b); width: 50%; height: 50%;">
            <div style="text-align: center">
                <img src="{% static 'images/key2.png' %}" alt="Circular Image" style="border-radius: 50%; width: 150px; height: 150px; margin-bottom: 20px; margin-top: 20px; max-width: 50%; max-height: 50%;">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Set Your New Password</h5>
                <p>Your new password should be different from your passwords previously used</p>
                <form method="post"  action="{% url 'resetpassword_view' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                            <button class="btn btn-outline-secondary" type="button" id="togglePassword"><i class="bi bi-eye"></i></button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm Your Password</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm your password" required>
                    </div>
                    {% if error_message %}
                    <div class="mb-3">
                        <p class="text-danger">{{ error_message }}</p>
                    </div>
                    {% endif %}
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="background-color: #ed83b5; width: 100px">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2024 IMMACULATE NAYIGA. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'javascript/include.js' %}"></script>
</body>
</html>
