.body {
    background-color:whitesmoke
}




.red{
    color: black;
    border-radius: 10px;
    background-color: #ed83b5;
    width: 20%;
}
.red2{
    color: black;
    border-radius: 10px;
    background-color: #ed83b5;
    width: 20%;
}

.red3{
    color:black;
    background-color: #ed83b5;
    border-radius: 10px;
    width: 20%;
}

.nav-link{
    color: black;
}

.navbar-brand{
    color: black;
}



.custom-input {
    border-color: #ed83b5;
}



.blue{
    color: black;
    border-radius: 10px;
    background-color: #ed83b5;
    width: 20%; 
}

.blue2{
    color: black;
    border-radius: 10px;
    background-color: #ed83b5;
    width: 20%; }


